html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: sans-serif;
}

.logo{
    width: 10%;
    height: auto;
}

.gradient {
    background-image: linear-gradient(to right, #6c38d5, #ff00d4);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    background-attachment: scroll;
    width: fit-content;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 50px;
    font: bold 15px sans-serif;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    text-shadow: 0 0 5px #2b0082, 0 0 10px #4b0082, 0 0 15px #4b0082, 0 0 20px #4b0082;
    color: #e3a2d5;

}

.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../img/homebg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    text-align: center;
}

.home-content {
    display: flex;
    font-size: 2.5rem;
    margin-bottom: -70px;
}

.home-content #welcome1 {
    margin-right: 15px;
    color: white;
}

.home-section p {
    font: bold 20px sans-serif;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.btn {
    background-color: #ff00ff;
    color: white;
    border: none;
    padding: 13px 20px;
    border-radius: 5rem;
    font-size: 23px;
    font: bold 20px sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #c702c7;
}

.about-section {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    height: 80vh;
    padding: 50px 20px;
    background-image: url('../img/aboutbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    text-align: left;
}

.about-section h2 {
    font-size: 3rem;
    margin-top: 70px;
    margin-bottom: -30px;
}

.about-section p {
    font-size: 18px;
    color: white;
    margin-top: -60px;
}

.story {
    display: flex;
    font-size: 1.7rem;
    gap: 40px;
    flex-direction: column;
    margin-top: 10px;
}

.about-section img {
    border: solid purple;
    border-width: 5px;
    width: 75%;
    height: 75%;
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 50px;
}

.services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 50px 20px;
    background-image: url('../img/servicesbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    text-align: center;
}

#servdesc {
    font: bold 20px sans-serif;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
}

.services-section p {
    color: white;
    font-size: 1.2rem;
    margin-top: -5px;
    margin-bottom: -10px;
}

.services-section h2 {
    font-size: 3rem;
    margin-top: -80px;
    margin-bottom: 10px;
}

.serviceh3 {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    gap: 25px;
    margin-bottom: -50px;
}

.service {
    border: solid black;
    background-color: #3c3c3c;
    border-radius: 30px;
    border-width: 5px;
    min-height: 250px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 250px;
    max-width: 350px;
    padding: 40px 20px;
    padding-top: 30px;
    gap: 16px;
}

#wawedo {
    font-size: medium;
    letter-spacing: 7px;
    color: limegreen;
    margin-top: -120px;
    margin-bottom: 100px;
}

.service img {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    padding-top: 20px;
}